<html>
    <head>
        <title>Painel do Funcionário - Uniodonto Campinas</title>
        <link rel="stylesheet" type="text/css" href="/styles/appointment.css">
    </head>

    <body>
        <% data.forEach((client) => { %> 
            <div id="container">
                <div id="appointment">

                    <div class="data">
                        <%= client.name %> 
                    </div>

                    <div class="data">
                        <%= client.address %> 
                    </div>

                    <div class="data">
                        <%= client.phone %> 
                    </div>

                    <div class="data">
                        <%= client.gender %> 
                    </div>

                    <div class="data">
                        <%= client.birth_date %>
                    </div> 

                    <div class="data">
                        <%= client.dentist %> 
                    </div>

                    <div class="data">
                        <%= client.day %> 
                    </div>
                    
                    <div class="data">
                        <%= client.time %> 
                    </div>

                    <div class="data">
                        <%= client.email %>
                    </div>
                </div>
            </div>
        <% }) %> 
    </body>
</html>
